.list {
  width: 600px;
  height: 90vh;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: azure;
}

/* .profile {
  border-bottom: 2px solid gainsboro;
} */

.profilePicture {
  width: 150px;
  height: 150px;
  margin: 10px;
  margin-top: 50px;
  border-radius: 50%;
}

.name {
  margin: 10px;
  text-align: center;
  color: #000;
}

.bio {
  width: 500px;
  height: max-content;
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  border-bottom: 1px solid gainsboro;
  word-break: break-all;
}

.infoList {
  width: 500px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.infoItem {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid gainsboro;
}
.info {
  width: 600px;
  padding: 10px;
  text-align: right;
}
