.block {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.itemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linkbox {
  background-color: rgba(240, 248, 255, 0.682);
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
}
