.searchContainer {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid slategrey;
  /* background-color: rgba(186, 255, 252, 0.573); */
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 110px;
  /* margin-right: 30px; */
  padding: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  color: darkslategray;
}

.searchInput:focus {
  outline: none;
  background-color: rgba(128, 128, 128, 0.247);
  border-radius: 5px;
}

.searchButton {
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.searchButton:hover {
  background-color: rgba(128, 128, 128, 0.247);
}

.searchIcon {
  width: 17px;
  height: 17px;
}
