.box {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px solid #fff9d0;
  border-radius: 50%; /* 圆形关键 */
  overflow: hidden; /* 裁剪超出的头像 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8e6fd;
  margin: 20px;
}

.box:hover {
  box-shadow: 0 0 5px 2px #fff9d0;
}

.linkIcon {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 10px;
}
